html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  background-color: #222222;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #222222;
}

body::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #023047;
}

body::-webkit-scrollbar-thumb {
  background-color: #fb8500;
  outline: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
